#heleTabel {
    background-color: blue;
    border: fuchsia;
    margin-left: 2.5em;
       
}
#bestelknop{
    background-color: rgb(36, 167, 190);
    margin-left: 1cm
 }
#toevoegenStad{
    background-color: royalblue;
    margin-bottom: 2.5em;
}
#toverknop{
    background-color: purple;
    font-weight: bold;
    color: white;
}
#verstopteLetters{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
  }